{% extends "base.twig" %}
{% block controller %}RichController as rich{% endblock %}
{% block title %}国内施設詳細ページ{% endblock %}
{% block script %}
<script type="text/javascript">
	var constants = {
//		heiName: '{{ heiName }}',
		rpp: '{{ rpp }}',
		productionUrl: '{{ productionUrlD | raw }}',
		inspectionUrl: '{{ inspectionUrl | raw }}',
		availablePageNumber: '4',
		type: 'd',
//        hei: {{ hei }}
	};
</script>
{% endblock %}
{% block content %}

	<h1 class="dp-title">国内施設詳細ページ<span>【毎週火曜日午前中更新となります】</span></h1>
	<h2 class="dp-sub-title">【本日より2ヶ月以内に削除される写真リストになります】</br>【毎週火曜日午前中更新となります】</h2>
	<div class="flex-form">
		<form ng-submit="rich.searchByAll()" class="form-inline dp-form flex-form-in">
			<div class="form-group">
				<label>都道府県</label>
				<select id="countrySel" name="country" class="form-control"  ng-model="rich.page.country">
					<option value="" selected>選択してください</option>
				</select>
			</div>
			<button class="btn btn-default" type="submit">検索</button>
		</form>
	</div>
	<!-- 表示されている削除一覧データをCSV出力する -->
	<div class="csv_text">表示している削除一覧リストをダウンロード</div>
	<form class="csv_btn" action="/lf/del-pic-list-facility-detail/download/downloadData.php" method="post" name="downloadData">
		<input type="submit" name="upload" value="削除一覧リストをダウンロード" />
		<input type="hidden" name="p_type" id="p_type" value="d">
		<input type="hidden" name="selectedCountry" id="selectedCountry" value="">
	</form>
	<p class="dp-url-message" ng-if="rich.page.urlEnabled">
		検索したURLは、<a href="[[ rich.page.url ]]" target="_blank">[[ rich.page.url ]]</a>です。
	</p>
	<div class="text-center dp-hit-message" ng-if="rich.page.hitMessageEnabled">
		条件に該当するデータは、<span class="dp-hit-count">[[ rich.page.hitCount]]</span>件です
	</div>


	{% include 'partials/pagination.twig' %}
	{% include 'partials/courses.twig' %}
	{% include 'partials/pagination.twig' %}

{% endblock %}
